// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import * as MonitorAPI from './monitor';
import { APIPromise } from '../core/api-promise';
import { buildHeaders } from '../internal/headers';
import { RequestOptions } from '../internal/request-options';

export class Monitor extends APIResource {
  capture(body: MonitorCaptureParams, options?: RequestOptions): APIPromise<Response> {
    return this._client.post('/monitor/capture', {
      body,
      ...options,
      headers: buildHeaders([{ Accept: 'application/octet-stream' }, options?.headers]),
      __binaryResponse: true,
    });
  }

  createMetrics(
    body: MonitorCreateMetricsParams,
    options?: RequestOptions,
  ): APIPromise<MonitorCreateMetricsResponse> {
    return this._client.post('/monitor/metrics', { body, ...options });
  }

  createStates(
    body: MonitorCreateStatesParams,
    options?: RequestOptions,
  ): APIPromise<MonitorCreateStatesResponse> {
    return this._client.post('/monitor/states', { body, ...options });
  }
}

/**
 * One bit value of ISIS Prefix attributes for the extended IPv4 and IPv6
 * reachability. https://www.rfc-editor.org/rfc/rfc7794.html.
 */
export interface IsisLspPrefixAttributes {
  /**
   * Node Flag (Bit 2). Set when the prefix identifies the advertising router, i.e.,
   * the prefix is a host prefix advertising a globally reachable address typically
   * associated with a loopback address.
   */
  n_flag?: boolean;

  /**
   * Readvertisement flag (Bit 1). Set when the prefix has been leaked from one level
   * to another (upwards or downwards).
   */
  r_flag?: boolean;

  /**
   * External prefix flag (Bit 0). Set if the prefix has been redistributed from
   * another protocol. This includes the case where multiple virtual routers are
   * supported and the source of the redistributed prefix is another IS-IS instance.
   */
  x_flag?: boolean;
}

/**
 * This contains the properties of IS-IS Prefix-SID and its attributes for the
 * extended Ipv4 and Ipv6 reachability. Refernce:
 * https://datatracker.ietf.org/doc/html/rfc8667#name-prefix-segment-identifier-p.
 */
export interface IsisLspPrefixSid {
  /**
   * The Isis may use various algorithms when calculating reachability to other nodes
   * or to prefixes attached to these nodes.
   */
  algorithm?: number;

  /**
   * Flags associated with Prefix Segment-ID.
   */
  flags?: IsisLspPrefixSid.Flags;

  /**
   * One or more SIDs/Indices are the SID/Label values associated with the IGP Prefix
   * segment attached to the specific IPv4 or IPv6 prefix.
   */
  sids?: Array<number>;
}

export namespace IsisLspPrefixSid {
  /**
   * Flags associated with Prefix Segment-ID.
   */
  export interface Flags {
    /**
     * Explicit-Null flag. When set, any upstream neighbor of the Prefix-SID originator
     * MUST replace the Prefix-SID with a Prefix-SID having an Explicit-NULL value (0
     * for IPv4 and 2 for IPv6) before forwarding the packet.
     */
    e_flag?: boolean;

    /**
     * Local flag. When set, the value/index carried by the Prefix-SID has local
     * significance.
     */
    l_flag?: boolean;

    /**
     * Node flag. When set, the Prefix-SID refers to the router identified by the
     * prefix. Typically, the N-Flag is set on Prefix-SIDs attached to a router
     * loopback address.
     */
    n_flag?: boolean;

    /**
     * Penultimate-Hop-Popping flag. When set, then the penultimate hop MUST NOT pop
     * the Prefix-SID before delivering the packet to the node that advertised the
     * Prefix-SID.
     */
    p_flag?: boolean;

    /**
     * Readvertisment flag. When set, the prefix to which this Prefix-SID is attached,
     * has been propagated by the router either from another level or from
     * redistribution.
     */
    r_flag?: boolean;

    /**
     * Value flag. When set, the Prefix-SID carries avalue (instead of an index).
     */
    v_flag?: boolean;
  }
}

/**
 * This group defines attributes of an IPv4 standard prefix.
 */
export interface IsisLspV4Prefix {
  /**
   * ISIS default metric value.
   */
  default_metric?: number;

  /**
   * An IPv4 unicast prefix reachable via the originator of this LSP.
   */
  ipv4_address?: string;

  /**
   * The origin of the advertised route-internal or external to the ISIS area.
   * Options include the following: Internal-for intra-area routes, through Level 1
   * LSPs. External-for inter-area routes redistributed within L1, through Level 1
   * LSPs.
   */
  origin_type?: 'internal' | 'external';

  /**
   * The length of the IPv4 prefix.
   */
  prefix_length?: number;

  /**
   * Up (0)-used when a prefix is initially advertised within the ISIS L3 hierarchy,
   * and for all other prefixes in L1 and L2 LSPs. (default) Down (1)-used when an
   * L1/L2 router advertises L2 prefixes in L1 LSPs. The prefixes are being
   * advertised from a higher level (L2) down to a lower level (L1).
   */
  redistribution_type?: 'up' | 'down';
}

/**
 * The container for latency metrics. The min/max/avg values are dependent on the
 * type of latency measurement mode that is configured. The container will be empty
 * if the latency has not been configured for the flow.
 */
export interface MetricLatency {
  /**
   * Average latency in nanoseconds
   */
  average_ns?: number;

  /**
   * Maximum latency in nanoseconds
   */
  maximum_ns?: number;

  /**
   * Minimum latency in nanoseconds
   */
  minimum_ns?: number;
}

/**
 * The container for timestamp metrics. The container will be empty if the
 * timestamp has not been configured for the flow.
 */
export interface MetricTimestamp {
  /**
   * First timestamp in nanoseconds
   */
  first_timestamp_ns?: number;

  /**
   * Last timestamp in nanoseconds
   */
  last_timestamp_ns?: number;
}

/**
 * Attributes in LSA Header.
 */
export interface Ospfv2LsaHeader {
  /**
   * The router ID (in the IPv4 format) of the router that originated the LSA.
   */
  advertising_router_id?: string;

  /**
   * The time since the LSA's generation in seconds.
   */
  age?: number;

  /**
   * LSA ID in the IPv4 format. The Link State ID for the specified LSA type.
   */
  lsa_id?: string;

  /**
   * The optional bits.
   */
  option_bits?: number;

  /**
   * Sequence number to detect old and duplicate LSAs. The greater the sequence
   * number the more recent the LSA.
   */
  sequence_number?: number;
}

/**
 * Attributes in LSA Header.
 */
export interface Ospfv3LsaHeader {
  /**
   * The router ID (in the IPv4 format) of the router that originated the LSA.
   */
  advertising_router_id?: string;

  /**
   * The time since the LSA's generation in seconds.
   */
  age?: number;

  /**
   * LSA ID in the IPv4 format. The Link State ID for the specified LSA type.
   */
  lsa_id?: string;

  /**
   * Sequence number to detect old and duplicate LSAs. The greater the sequence
   * number the more recent the LSA.
   */
  sequence_number?: number;
}

/**
 * This attribute identifies the autonomous systems through which routing
 * information carried in this UPDATE message has passed.
 */
export interface ResultBgpAsPath {
  /**
   * AS Path segments present in the received AS Path attribute.
   */
  segments?: Array<ResultBgpAsPath.Segment>;
}

export namespace ResultBgpAsPath {
  /**
   * Configuration for a single BGP AS path segment
   */
  export interface Segment {
    /**
     * The AS numbers in this AS path segment.
     */
    as_numbers?: Array<number>;

    /**
     * AS sequence is the most common type of AS_PATH, it contains the list of ASNs
     * starting with the most recent ASN being added read from left to right. The other
     * three AS_PATH types are used for Confederations - AS_SET is the type of AS_PATH
     * attribute that summarizes routes using using the aggregate-address command,
     * allowing AS_PATHs to be summarized in the update as well. - AS_CONFED_SEQ gives
     * the list of ASNs in the path starting with the most recent ASN to be added
     * reading left to right - AS_CONFED_SET will allow summarization of multiple AS
     * PATHs to be sent in BGP Updates.
     */
    type?: 'as_seq' | 'as_set' | 'as_confed_seq' | 'as_confed_set';
  }
}

/**
 * BGP communities provide additional capability for tagging routes and for
 * modifying BGP routing policy on upstream and downstream routers. BGP community
 * is a 32-bit number which is broken into 16-bit AS number and a 16-bit custom
 * value.
 */
export interface ResultBgpCommunity {
  /**
   * Last two octets of the community value.
   */
  as_custom?: number;

  /**
   * First two octets of 32 bit community AS number.
   */
  as_number?: number;

  /**
   * The type of community AS number. If community type is manual_as_number then
   * as_number and as_custom will be available.
   */
  type?:
    | 'manual_as_number'
    | 'no_export'
    | 'no_advertised'
    | 'no_export_subconfed'
    | 'llgr_stale'
    | 'no_llgr';
}

/**
 * Each received Extended Community attribute is available for retrieval in two
 * forms. Support of the 'raw' format in which all 8 bytes (16 hex characters) is
 * always present and available for use. In addition, if supported by the
 * implementation, the Extended Community attribute may also be retrieved in the
 * 'structured' format which is an optional field.
 */
export interface ResultExtendedCommunity {
  /**
   * The raw byte contents of the 8 bytes received in the Extended Community as 16
   * hex characters.
   */
  raw?: string;

  /**
   * The Extended Communities Attribute is a optional BGP attribute,defined in
   * RFC4360 with the Type Code 16. Community and Extended Communities attributes are
   * utilized to trigger routing decisions, such as acceptance, rejection,
   * preference, or redistribution. An extended community is an 8-bytes value. It is
   * divided into two main parts. The first 2 bytes of the community encode a type
   * and optonal sub-type field. The last 6 bytes (or 7 bytes for types without a
   * sub-type) carry a unique set of data in a format defined by the type and
   * optional sub-type field. Extended communities provide a larger range for
   * grouping or categorizing communities.
   */
  structured?: ResultExtendedCommunity.Structured;
}

export namespace ResultExtendedCommunity {
  /**
   * The Extended Communities Attribute is a optional BGP attribute,defined in
   * RFC4360 with the Type Code 16. Community and Extended Communities attributes are
   * utilized to trigger routing decisions, such as acceptance, rejection,
   * preference, or redistribution. An extended community is an 8-bytes value. It is
   * divided into two main parts. The first 2 bytes of the community encode a type
   * and optonal sub-type field. The last 6 bytes (or 7 bytes for types without a
   * sub-type) carry a unique set of data in a format defined by the type and
   * optional sub-type field. Extended communities provide a larger range for
   * grouping or categorizing communities.
   */
  export interface Structured {
    choice?:
      | 'transitive_2octet_as_type'
      | 'transitive_ipv4_address_type'
      | 'transitive_4octet_as_type'
      | 'transitive_opaque_type'
      | 'non_transitive_2octet_as_type';

    /**
     * The Non-Transitive Two-Octet AS-Specific Extended Community is sent as type
     * 0x40.
     */
    non_transitive_2octet_as_type?: Structured.NonTransitive2octetAsType;

    /**
     * The Transitive Two-Octet AS-Specific Extended Community is sent as type 0x00 .
     */
    transitive_2octet_as_type?: Structured.Transitive2octetAsType;

    /**
     * The Transitive Four-Octet AS-Specific Extended Community is sent as type 0x02.
     * It is defined in RFC 5668.
     */
    transitive_4octet_as_type?: Structured.Transitive4octetAsType;

    /**
     * The Transitive IPv4 Address Specific Extended Community is sent as type 0x01.
     */
    transitive_ipv4_address_type?: Structured.TransitiveIpv4AddressType;

    /**
     * The Transitive Opaque Extended Community is sent as type 0x03.
     */
    transitive_opaque_type?: Structured.TransitiveOpaqueType;
  }

  export namespace Structured {
    /**
     * The Non-Transitive Two-Octet AS-Specific Extended Community is sent as type
     * 0x40.
     */
    export interface NonTransitive2octetAsType {
      choice?: 'link_bandwidth_subtype';

      /**
       * The Link Bandwidth Extended Community attribute is defined in
       * draft-ietf-idr-link-bandwidth. It is sent with sub-type as 0x04.
       */
      link_bandwidth_subtype?: NonTransitive2octetAsType.LinkBandwidthSubtype;
    }

    export namespace NonTransitive2octetAsType {
      /**
       * The Link Bandwidth Extended Community attribute is defined in
       * draft-ietf-idr-link-bandwidth. It is sent with sub-type as 0x04.
       */
      export interface LinkBandwidthSubtype {
        /**
         * Bandwidth of the link in bytes per second. ( 1 Kbps is 1000 bytes per second and
         * 1 Mbps is 1000 Kbps per second )
         */
        bandwidth?: number;

        /**
         * The value of the Global Administrator subfield should represent the Autonomous
         * System of the router that attaches the Link Bandwidth Community. If four octet
         * AS numbering scheme is used, AS_TRANS (23456) should be used.
         */
        global_2byte_as?: number;
      }
    }

    /**
     * The Transitive Two-Octet AS-Specific Extended Community is sent as type 0x00 .
     */
    export interface Transitive2octetAsType {
      choice?: 'route_target_subtype' | 'route_origin_subtype';

      /**
       * The Route Origin Community identifies one or more routers that inject a set of
       * routes (that carry this Community) into BGP. It is sent with sub-type as 0x03 .
       */
      route_origin_subtype?: Transitive2octetAsType.RouteOriginSubtype;

      /**
       * The Route Target Community identifies one or more routers that may receive a set
       * of routes (that carry this Community) carried by BGP Update message. It is sent
       * with sub-type as 0x02.
       */
      route_target_subtype?: Transitive2octetAsType.RouteTargetSubtype;
    }

    export namespace Transitive2octetAsType {
      /**
       * The Route Origin Community identifies one or more routers that inject a set of
       * routes (that carry this Community) into BGP. It is sent with sub-type as 0x03 .
       */
      export interface RouteOriginSubtype {
        /**
         * The two octet IANA assigned AS value assigned to the Autonomous System.
         */
        global_2byte_as?: number;

        /**
         * The Local Administrator sub-field contains a number from a numbering space that
         * is administered by the organization to which the Autonomous System number
         * carried in the Global Administrator sub-field has been assigned by an
         * appropriate authority.
         */
        local_4byte_admin?: number;
      }

      /**
       * The Route Target Community identifies one or more routers that may receive a set
       * of routes (that carry this Community) carried by BGP Update message. It is sent
       * with sub-type as 0x02.
       */
      export interface RouteTargetSubtype {
        /**
         * The two octet IANA assigned AS value assigned to the Autonomous System.
         */
        global_2byte_as?: number;

        /**
         * The Local Administrator sub-field contains a number from a numbering space that
         * is administered by the organization to which the Autonomous System number
         * carried in the Global Administrator sub-field has been assigned by an
         * appropriate authority.
         */
        local_4byte_admin?: number;
      }
    }

    /**
     * The Transitive Four-Octet AS-Specific Extended Community is sent as type 0x02.
     * It is defined in RFC 5668.
     */
    export interface Transitive4octetAsType {
      choice?: 'route_target_subtype' | 'route_origin_subtype';

      /**
       * The Route Origin Community identifies one or more routers that inject a set of
       * routes (that carry this Community) into BGP. It is sent with sub-type as 0x03.
       */
      route_origin_subtype?: Transitive4octetAsType.RouteOriginSubtype;

      /**
       * The Route Target Community identifies one or more routers that may receive a set
       * of routes (that carry this Community) carried by BGP. It is sent with sub-type
       * as 0x02
       */
      route_target_subtype?: Transitive4octetAsType.RouteTargetSubtype;
    }

    export namespace Transitive4octetAsType {
      /**
       * The Route Origin Community identifies one or more routers that inject a set of
       * routes (that carry this Community) into BGP. It is sent with sub-type as 0x03.
       */
      export interface RouteOriginSubtype {
        /**
         * The four octet IANA assigned AS value assigned to the Autonomous System.
         */
        global_4byte_as?: number;

        /**
         * The Local Administrator sub-field contains a number from a numbering space that
         * is administered by the organization to which the Autonomous System number
         * carried in the Global Administrator sub-field has been assigned by an
         * appropriate authority.
         */
        local_2byte_admin?: number;
      }

      /**
       * The Route Target Community identifies one or more routers that may receive a set
       * of routes (that carry this Community) carried by BGP. It is sent with sub-type
       * as 0x02
       */
      export interface RouteTargetSubtype {
        /**
         * The four octet IANA assigned AS value assigned to the Autonomous System.
         */
        global_4byte_as?: number;

        /**
         * The Local Administrator sub-field contains a number from a numbering space that
         * is administered by the organization to which the Autonomous System number
         * carried in the Global Administrator sub-field has been assigned by an
         * appropriate authority.
         */
        local_2byte_admin?: number;
      }
    }

    /**
     * The Transitive IPv4 Address Specific Extended Community is sent as type 0x01.
     */
    export interface TransitiveIpv4AddressType {
      choice?: 'route_target_subtype' | 'route_origin_subtype';

      /**
       * The Route Origin Community identifies one or more routers that inject a set of
       * routes (that carry this Community) into BGP It is sent with sub-type as 0x03.
       */
      route_origin_subtype?: TransitiveIpv4AddressType.RouteOriginSubtype;

      /**
       * The Route Target Community identifies one or more routers that may receive a set
       * of routes (that carry this Community) carried by BGP. It is sent with sub-type
       * as 0x02.
       */
      route_target_subtype?: TransitiveIpv4AddressType.RouteTargetSubtype;
    }

    export namespace TransitiveIpv4AddressType {
      /**
       * The Route Origin Community identifies one or more routers that inject a set of
       * routes (that carry this Community) into BGP It is sent with sub-type as 0x03.
       */
      export interface RouteOriginSubtype {
        /**
         * An IPv4 unicast address assigned by one of the Internet registries.
         */
        global_ipv4_admin?: string;

        /**
         * The Local Administrator sub-field contains a number from a numbering space that
         * is administered by the organization to which the IP address carried in the
         * Global Administrator sub-field has been assigned by an appropriate authority.
         */
        local_2byte_admin?: number;
      }

      /**
       * The Route Target Community identifies one or more routers that may receive a set
       * of routes (that carry this Community) carried by BGP. It is sent with sub-type
       * as 0x02.
       */
      export interface RouteTargetSubtype {
        /**
         * An IPv4 unicast address assigned by one of the Internet registries.
         */
        global_ipv4_admin?: string;

        /**
         * The Local Administrator sub-field contains a number from a numbering space that
         * is administered by the organization to which the IP address carried in the
         * Global Administrator sub-field has been assigned by an appropriate authority.
         */
        local_2byte_admin?: number;
      }
    }

    /**
     * The Transitive Opaque Extended Community is sent as type 0x03.
     */
    export interface TransitiveOpaqueType {
      choice?: 'color_subtype' | 'encapsulation_subtype';

      /**
       * The Color Community contains locally administrator defined 'color' value which
       * is used in conjunction with Encapsulation attribute to decide whether a data
       * packet can be transmitted on a certain tunnel or not. It is defined in RFC9012
       * and sent with sub-type as 0x0b.
       */
      color_subtype?: TransitiveOpaqueType.ColorSubtype;

      /**
       * This identifies the type of tunneling technology being signalled. It is defined
       * in RFC9012 and sent with sub-type as 0x0c.
       */
      encapsulation_subtype?: TransitiveOpaqueType.EncapsulationSubtype;
    }

    export namespace TransitiveOpaqueType {
      /**
       * The Color Community contains locally administrator defined 'color' value which
       * is used in conjunction with Encapsulation attribute to decide whether a data
       * packet can be transmitted on a certain tunnel or not. It is defined in RFC9012
       * and sent with sub-type as 0x0b.
       */
      export interface ColorSubtype {
        /**
         * The color value is user defined and configured locally and used to determine
         * whether a data packet can be transmitted on a certain tunnel or not in
         * conjunction with the Encapsulation attribute. It is defined in RFC9012.
         */
        color?: number;

        /**
         * Two octet flag values.
         */
        flags?: number;
      }

      /**
       * This identifies the type of tunneling technology being signalled. It is defined
       * in RFC9012 and sent with sub-type as 0x0c.
       */
      export interface EncapsulationSubtype {
        /**
         * Four bytes of reserved values. Normally set to 0 on transmit and ignored on
         * receive.
         */
        reserved?: number;

        /**
         * Identifies the type of tunneling technology being signalled. Initially defined
         * in RFC5512 and extended in RFC9012. Some of the important tunnel types include
         *
         * - 1 L2TPv3 over IP [RFC9012],
         * - 2 GRE [RFC9012],
         * - 7 IP in IP [RFC9012],
         * - 8 VXLAN Encapsulation [RFC8365],
         * - 9 NVGRE Encapsulation [RFC8365],
         * - 10 MPLS Encapsulation [RFC8365],
         * - 15 SR TE Policy Type [draft-ietf-idr-segment-routing-te-policy],
         * - 19 Geneve Encapsulation [RFC8926]
         */
        tunnel_type?: number;
      }
    }
  }
}

/**
 * Response containing chosen traffic generator metrics.
 */
export interface MonitorCreateMetricsResponse {
  bgpv4_metrics?: Array<MonitorCreateMetricsResponse.Bgpv4Metric>;

  bgpv6_metrics?: Array<MonitorCreateMetricsResponse.Bgpv6Metric>;

  choice?:
    | 'flow_metrics'
    | 'port_metrics'
    | 'bgpv4_metrics'
    | 'bgpv6_metrics'
    | 'isis_metrics'
    | 'lag_metrics'
    | 'lacp_metrics'
    | 'lldp_metrics'
    | 'rsvp_metrics'
    | 'dhcpv4_client'
    | 'dhcpv4_server'
    | 'dhcpv6_client'
    | 'dhcpv6_server'
    | 'ospfv2_metrics'
    | 'convergence_metrics'
    | 'macsec_metrics'
    | 'mka_metrics'
    | 'ospfv3_metrics'
    | 'rocev2_ipv4_per_peer_metrics'
    | 'rocev2_ipv6_per_peer_metrics'
    | 'rocev2_flow_per_qp_metrics'
    | 'egress_only_tracking_metrics';

  convergence_metrics?: Array<MonitorCreateMetricsResponse.ConvergenceMetric>;

  dhcpv4client_metrics?: Array<MonitorCreateMetricsResponse.Dhcpv4clientMetric>;

  dhcpv4server_metrics?: Array<MonitorCreateMetricsResponse.Dhcpv4serverMetric>;

  dhcpv6client_metrics?: Array<MonitorCreateMetricsResponse.Dhcpv6clientMetric>;

  dhcpv6server_metrics?: Array<MonitorCreateMetricsResponse.Dhcpv6serverMetric>;

  egress_only_tracking_metrics?: Array<MonitorCreateMetricsResponse.EgressOnlyTrackingMetric>;

  flow_metrics?: Array<MonitorCreateMetricsResponse.FlowMetric>;

  isis_metrics?: Array<MonitorCreateMetricsResponse.IsisMetric>;

  lacp_metrics?: Array<MonitorCreateMetricsResponse.LacpMetric>;

  lag_metrics?: Array<MonitorCreateMetricsResponse.LagMetric>;

  lldp_metrics?: Array<MonitorCreateMetricsResponse.LldpMetric>;

  macsec_metrics?: Array<MonitorCreateMetricsResponse.MacsecMetric>;

  mka_metrics?: Array<MonitorCreateMetricsResponse.MkaMetric>;

  ospfv2_metrics?: Array<MonitorCreateMetricsResponse.Ospfv2Metric>;

  ospfv3_metrics?: Array<MonitorCreateMetricsResponse.Ospfv3Metric>;

  port_metrics?: Array<MonitorCreateMetricsResponse.PortMetric>;

  rocev2_flow_per_qp_metrics?: Array<MonitorCreateMetricsResponse.Rocev2FlowPerQpMetric>;

  rocev2_ipv4_per_peer_metrics?: Array<MonitorCreateMetricsResponse.Rocev2Ipv4PerPeerMetric>;

  rocev2_ipv6_per_peer_metrics?: Array<MonitorCreateMetricsResponse.Rocev2Ipv6PerPeerMetric>;

  rsvp_metrics?: Array<MonitorCreateMetricsResponse.RsvpMetric>;
}

export namespace MonitorCreateMetricsResponse {
  /**
   * BGPv4 per peer statistics information.
   */
  export interface Bgpv4Metric {
    /**
     * Number of End-of-RIB markers received indicating the completion of the initial
     * routing update for a particular <AFI, SAFI> address family after the session is
     * established. For the IPv4 unicast address family, the End-of-RIB marker is an
     * UPDATE message with the minimum length. For any other address family, it is an
     * UPDATE message that contains only the MP_UNREACH_NLRI attribute with no
     * withdrawn routes for that <AFI, SAFI>.
     */
    end_of_rib_received?: number;

    /**
     * BGP peer FSM (Finite State Machine) state as Idle, Connect, Active, OpenSent,
     * OpenConfirm and Established. In all the states except Established the BGP
     * session is down. Idle refers to the Idle state of the FSM. Connect refers to the
     * state where the session is waiting for the underlying transport session to be
     * established. Active refers to the state where the session is awaiting for a
     * connection from the remote peer. OpenSent refers to the state where the session
     * is in the process of being established. The local system has sent an OPEN
     * message. OpenConfirm refers to the state where the session is in the process of
     * being established. The local system has sent and received an OPEN message and is
     * awaiting a NOTIFICATION or KEEPALIVE message from remote peer. Established
     * refers to the state where the BGP session with the peer is established.
     */
    fsm_state?: 'idle' | 'connect' | 'active' | 'opensent' | 'openconfirm' | 'established';

    /**
     * Number of Keepalive messages received.
     */
    keepalives_received?: number;

    /**
     * Number of Keepalive messages sent.
     */
    keepalives_sent?: number;

    /**
     * The name of a configured BGPv4 peer.
     */
    name?: string;

    /**
     * Number of Notification messages received.
     */
    notifications_received?: number;

    /**
     * Number of Notification messages sent.
     */
    notifications_sent?: number;

    /**
     * Number of Open messages received.
     */
    opens_received?: number;

    /**
     * Number of Open messages sent.
     */
    opens_sent?: number;

    /**
     * Number of route withdraws received.
     */
    route_withdraws_received?: number;

    /**
     * Number of route withdraws sent.
     */
    route_withdraws_sent?: number;

    /**
     * Number of routes advertised.
     */
    routes_advertised?: number;

    /**
     * Number of routes received.
     */
    routes_received?: number;

    /**
     * Number of times the session went from Up to Down state.
     */
    session_flap_count?: number;

    /**
     * Session state as up or down. Up refers to an Established state and Down refers
     * to any other state.
     */
    session_state?: 'up' | 'down';

    /**
     * Number of Update messages received.
     */
    updates_received?: number;

    /**
     * Number of Update messages sent.
     */
    updates_sent?: number;
  }

  /**
   * BGPv6 per peer statistics information.
   */
  export interface Bgpv6Metric {
    /**
     * Number of End-of-RIB markers received indicating the completion of the initial
     * routing update for a particular <AFI, SAFI> address family after the session is
     * established. For the IPv4 unicast address family, the End-of-RIB marker is an
     * UPDATE message with the minimum length. For any other address family, it is an
     * UPDATE message that contains only the MP_UNREACH_NLRI attribute with no
     * withdrawn routes for that <AFI, SAFI>.
     */
    end_of_rib_received?: number;

    /**
     * BGP peer FSM (Finite State Machine) state as Idle, Connect, Active, OpenSent,
     * OpenConfirm and Established. In all the states except Established the BGP
     * session is down. Idle refers to the Idle state of the FSM. Connect refers to the
     * state where the session is waiting for the underlying transport session to be
     * established. Active refers to the state where the session is awaiting for a
     * connection from the remote peer. OpenSent refers to the state where the session
     * is in the process of being established. The local system has sent an OPEN
     * message. OpenConfirm refers to the state where the session is in the process of
     * being established. The local system has sent and received an OPEN message and is
     * awaiting a NOTIFICATION or KEEPALIVE message from remote peer. Established
     * refers to the state where the BGP session with the peer is established.
     */
    fsm_state?: 'idle' | 'connect' | 'active' | 'opensent' | 'openconfirm' | 'established';

    /**
     * Number of Keepalive messages received.
     */
    keepalives_received?: number;

    /**
     * Number of Keepalive messages sent.
     */
    keepalives_sent?: number;

    /**
     * The name of a configured BGPv6 peer.
     */
    name?: string;

    /**
     * Number of Notification messages received.
     */
    notifications_received?: number;

    /**
     * Number of Notification messages sent.
     */
    notifications_sent?: number;

    /**
     * Number of Open messages received.
     */
    opens_received?: number;

    /**
     * Number of Open messages sent.
     */
    opens_sent?: number;

    /**
     * Number of route withdraws received.
     */
    route_withdraws_received?: number;

    /**
     * Number of route withdraws sent.
     */
    route_withdraws_sent?: number;

    /**
     * Number of routes advertised.
     */
    routes_advertised?: number;

    /**
     * Number of routes received.
     */
    routes_received?: number;

    /**
     * Number of times the session went from Up to Down state.
     */
    session_flap_count?: number;

    /**
     * Session state as up or down. Up refers to an Established state and Down refers
     * to any other state.
     */
    session_state?: 'up' | 'down';

    /**
     * Number of Update messages received.
     */
    updates_received?: number;

    /**
     * Number of Update messages sent.
     */
    updates_sent?: number;
  }

  /**
   * Under Review: Convergence metrics is currently under review for pending
   * exploration on use cases.
   *
   * The container for convergence metrics.
   */
  export interface ConvergenceMetric {
    /**
     * The total convergence time(microseconds), between the event that caused the
     * switchover until an acceptable amount of traffic was received at time Above
     * Threshold Timestamp, when the rate crosses above the configured
     * rx_rate_threshold.
     */
    control_plane_data_plane_convergence_us?: number;

    /**
     * The convergence time(microseconds) measured from the data plane perspective
     * only. It measures the time w.r.t. last start of the traffic of the affected flow
     * from Below Threshold Timestamp, when the rate on Test Port 2 crosses below the
     * Rx Threshold until an acceptable amount of traffic was received at time Above
     * Threshold Timestamp, when the rate crosses above the configured
     * rx_rate_threshold.
     */
    data_plane_convergence_us?: number;

    /**
     * The events that were used to determine the convergence analytics.
     */
    events?: Array<ConvergenceMetric.Event>;

    /**
     * The name of a flow.
     */
    name?: string;
  }

  export namespace ConvergenceMetric {
    /**
     * A container for an event that has occurred in the system affecting the
     * convergence time recorded for the flow.
     */
    export interface Event {
      /**
       * The timestamp(nanoseconds) of the starting event that triggers convergence.
       */
      begin_timestamp_ns?: number;

      /**
       * The timestamp(nanoseconds) of the end event that triggers convergence.
       */
      end_timestamp_ns?: number;

      /**
       * The source of the event. The source MUST be the value of one of the x-constraint
       * paths, which means the source MUST be a unique name in the configuration.
       *
       * x-constraint:
       *
       * - /components/schemas/Port/properties/name
       * - /components/schemas/Flow/properties/name
       * - /components/schemas/Device.Bgpv4Route/properties/name
       * - /components/schemas/Device.Bgpv6Route/properties/name
       */
      source?: string;

      /**
       * The type of control plane or data plane event that occurred.
       */
      type?:
        | 'link_down'
        | 'link_up'
        | 'route_withdraw'
        | 'route_advertise'
        | 'flow_rx_rate_above_threshold'
        | 'flow_rx_rate_below_threshold';
    }
  }

  /**
   * DHCPv4 per peer statistics information.
   */
  export interface Dhcpv4clientMetric {
    /**
     * Number of lease DHCPACK messages received.
     */
    acks_received?: number;

    /**
     * Number of DHCPDECLINE messages sent.
     */
    declines_sent?: number;

    /**
     * Number of DHCPDISCOVER messages sent.
     */
    discovers_sent?: number;

    /**
     * Number of negative lease DHCPNACK messages received.
     */
    nacks_received?: number;

    /**
     * The name of a configured DHCPv4 client.
     */
    name?: string;

    /**
     * Number of DHCPOFFER messages received.
     */
    offers_received?: number;

    /**
     * Number of DHCPRELEASE messages sent.
     */
    releases_sent?: number;

    /**
     * Number of DHCPREQUEST messages sent.
     */
    requests_sent?: number;
  }

  /**
   * DHCPv4 per peer statistics information.
   */
  export interface Dhcpv4serverMetric {
    /**
     * Number of lease DHCPACK messages sent.
     */
    acks_sent?: number;

    /**
     * Number of DHCPDECLINE messages received.
     */
    declines_received?: number;

    /**
     * Number of DHCPDISCOVER messages received.
     */
    discovers_received?: number;

    /**
     * Number of negative lease DHCPNACK messages sent.
     */
    nacks_sent?: number;

    /**
     * The name of a configured DHCPv4 Server.
     */
    name?: string;

    /**
     * Number of DHCPOFFER messages sent.
     */
    offers_sent?: number;

    /**
     * Number of DHCPRELEASE messages received.
     */
    releases_received?: number;

    /**
     * Number of DHCPOFFER messages received.
     */
    requests_received?: number;
  }

  /**
   * DHCPv6 per peer statistics information.
   */
  export interface Dhcpv6clientMetric {
    /**
     * Number of DHCPADVERTISE messages ignored.
     */
    advertisements_ignored?: number;

    /**
     * Number of DHCPADVERTISE messages received.
     */
    advertisements_received?: number;

    /**
     * Number of DHCP Inform requests sent.
     */
    information_requests_sent?: number;

    /**
     * Number of negative lease DHCPNACK messages received.
     */
    nacks_received?: number;

    /**
     * The name of a configured DHCPv6 client.
     */
    name?: string;

    /**
     * Number of rapid commit DHCP Reply messages received.
     */
    rapid_commit_replies_received?: number;

    /**
     * Number of rapid commit DHCPSOLICIT messages sent.
     */
    rapid_commit_solicits_sent?: number;

    /**
     * Number of DHCP rebind messages sent.
     */
    rebinds_sent?: number;

    /**
     * Number of DHCP Reconfigure messages received.
     */
    reconfigures_received?: number;

    /**
     * Number of DHCP Release messages sent.
     */
    releases_sent?: number;

    /**
     * Number of DHCP renew messages sent.
     */
    renews_sent?: number;

    /**
     * Number of DHCPOFFER messages received.
     */
    replies_received?: number;

    /**
     * Number of DHCPREQUEST messages sent.
     */
    requests_sent?: number;

    /**
     * Number of DHCPSOLICIT messages sent.
     */
    solicits_sent?: number;
  }

  /**
   * DHCPv6 per server statistics information.
   */
  export interface Dhcpv6serverMetric {
    /**
     * Number of DHCP Advertise messages sent.
     */
    advertisements_sent?: number;

    /**
     * Number of DHCP Confirm messages received.
     */
    confirms_received?: number;

    /**
     * Number of DHCP Decline messages received.
     */
    declines_received?: number;

    /**
     * Number of DHCP Information Request messages received.
     */
    information_requests_received?: number;

    /**
     * Number of naks sent for DHCPREQUEST messages.
     */
    nacks_sent?: number;

    /**
     * The name of a configured DHCPv6 Server.
     */
    name?: string;

    /**
     * Number of DHCP Rebind messages received.
     */
    rebinds_received?: number;

    /**
     * Number of DHCP Reconfigure messages sent.
     */
    reconfigures_sent?: number;

    /**
     * Number of DHCP Relay agent forward messages received.
     */
    relay_forwards_received?: number;

    /**
     * Number of DHCP reply messages sent to Relay agent.
     */
    relay_replies_sent?: number;

    /**
     * Number of DHCP Release messages received.
     */
    releases_received?: number;

    /**
     * Number of DHCP Renewal messages received.
     */
    renewals_received?: number;

    /**
     * Number of DHCP Reply messages sent.
     */
    replies_sent?: number;

    /**
     * Number of DHCPREQUEST messages received.
     */
    requests_received?: number;

    /**
     * Number of DHCPSOLICIT messages ignored.
     */
    solicits_ignored?: number;

    /**
     * Number of DHCPSOLICIT messages received.
     */
    solicits_received?: number;
  }

  /**
   * A container for egress-only-tracking metrics. The container is keyed by the
   * port_rx.
   */
  export interface EgressOnlyTrackingMetric {
    /**
     * The name of the receive port
     */
    port_rx?: string;

    /**
     * List of metrics corresponding to a set of values applicable for configured
     * metric tags in egress packet header fields. The container is keyed by list of
     * tag-value pairs.
     */
    tagged_metrics?: Array<EgressOnlyTrackingMetric.TaggedMetric>;
  }

  export namespace EgressOnlyTrackingMetric {
    /**
     * Metrics for each set of values applicable for configured metric tags in egress
     * packet header fields. The container is keyed by list of tag-value pairs.
     */
    export interface TaggedMetric {
      /**
       * The current total number of bytes received
       */
      bytes_rx?: number;

      /**
       * The current total number of valid frames received
       */
      frames_rx?: number;

      /**
       * The current rate of valid frames received
       */
      frames_rx_rate?: number;

      /**
       * The Layer 1 receive rate in bits per second.
       */
      rx_l1_rate_bps?: number;

      /**
       * The receive rate in bits per second.
       */
      rx_rate_bps?: number;

      /**
       * The receive rate in bytes per second.
       */
      rx_rate_bytes?: number;

      /**
       * The receive rate in Kilobits per second.
       */
      rx_rate_kbps?: number;

      /**
       * The receive rate in Megabits per second.
       */
      rx_rate_mbps?: number;

      /**
       * List of tag and value pairs
       */
      tags?: Array<TaggedMetric.Tag>;

      /**
       * The container for timestamp metrics. The container will be empty if the
       * timestamp has not been configured for the flow.
       */
      timestamps?: TaggedMetric.Timestamps;

      /**
       * The container for tx metrics. The container will be empty if the tx metrics has
       * not been configured.
       */
      tx_metrics?: TaggedMetric.TxMetrics;
    }

    export namespace TaggedMetric {
      export interface Tag {
        /**
         * Name of packet field metric tag
         */
        name?: string;

        /**
         * Value of packet field metric tag in hexadecimal format
         */
        value?: string;
      }

      /**
       * The container for timestamp metrics. The container will be empty if the
       * timestamp has not been configured for the flow.
       */
      export interface Timestamps {
        /**
         * First timestamp in nanoseconds
         */
        first_timestamp_ns?: number;

        /**
         * Last timestamp in nanoseconds
         */
        last_timestamp_ns?: number;
      }

      /**
       * The container for tx metrics. The container will be empty if the tx metrics has
       * not been configured.
       */
      export interface TxMetrics {
        /**
         * The current total number of bytes transmitted
         */
        bytes_tx?: number;

        /**
         * The current total number of frames transmitted
         */
        frames_tx?: number;

        /**
         * The current rate of frames transmitted
         */
        frames_tx_rate?: number;

        /**
         * The percentage of lost frames
         */
        loss?: number;

        /**
         * The name of the transmit port
         */
        port_tx?: string;

        /**
         * The Layer 1 transmission rate in bits per second.
         */
        tx_l1_rate_bps?: number;

        /**
         * The transmission rate in bits per second.
         */
        tx_rate_bps?: number;

        /**
         * The transmission rate in bytes per second.
         */
        tx_rate_bytes?: number;

        /**
         * The transmission rate in Kilobits per second.
         */
        tx_rate_kbps?: number;

        /**
         * The transmission rate in Megabits per second.
         */
        tx_rate_mbps?: number;
      }
    }
  }

  /**
   * A container for flow metrics. The container is keyed by the name, port_tx and
   * port_rx.
   */
  export interface FlowMetric {
    /**
     * The current total number of bytes received
     */
    bytes_rx?: number;

    /**
     * The current total number of bytes transmitted
     */
    bytes_tx?: number;

    /**
     * The current total number of valid frames received
     */
    frames_rx?: number;

    /**
     * The current rate of valid frames received
     */
    frames_rx_rate?: number;

    /**
     * The current total number of frames transmitted
     */
    frames_tx?: number;

    /**
     * The current rate of frames transmitted
     */
    frames_tx_rate?: number;

    /**
     * The container for latency metrics. The min/max/avg values are dependent on the
     * type of latency measurement mode that is configured. The container will be empty
     * if the latency has not been configured for the flow.
     */
    latency?: MonitorAPI.MetricLatency;

    /**
     * The percentage of lost frames
     */
    loss?: number;

    /**
     * The name of the flow
     */
    name?: string;

    /**
     * The name of the receive port
     */
    port_rx?: string;

    /**
     * The name of the transmit port
     */
    port_tx?: string;

    /**
     * The Layer 1 receive rate in bits per second.
     */
    rx_l1_rate_bps?: number;

    /**
     * The receive rate in bits per second.
     */
    rx_rate_bps?: number;

    /**
     * The receive rate in bytes per second.
     */
    rx_rate_bytes?: number;

    /**
     * The receive rate in Kilobits per second.
     */
    rx_rate_kbps?: number;

    /**
     * The receive rate in Megabits per second.
     */
    rx_rate_mbps?: number;

    /**
     * List of metrics corresponding to a set of values applicable for configured
     * metric tags in ingress or egress packet header fields of corresponding flow. The
     * container is keyed by list of tag-value pairs.
     */
    tagged_metrics?: Array<FlowMetric.TaggedMetric>;

    /**
     * The container for timestamp metrics. The container will be empty if the
     * timestamp has not been configured for the flow.
     */
    timestamps?: MonitorAPI.MetricTimestamp;

    /**
     * The transmit state of the flow.
     */
    transmit?: 'started' | 'stopped' | 'paused';

    /**
     * The Layer 1 transmission rate in bits per second.
     */
    tx_l1_rate_bps?: number;

    /**
     * The transmission rate in bits per second.
     */
    tx_rate_bps?: number;

    /**
     * The transmission rate in bytes per second.
     */
    tx_rate_bytes?: number;

    /**
     * The transmission rate in Kilobits per second.
     */
    tx_rate_kbps?: number;

    /**
     * The transmission rate in Megabits per second.
     */
    tx_rate_mbps?: number;
  }

  export namespace FlowMetric {
    /**
     * Metrics for each set of values applicable for configured metric tags in ingress
     * or egress packet header fields of corresponding flow. The container is keyed by
     * list of tag-value pairs.
     */
    export interface TaggedMetric {
      /**
       * The current total number of bytes received
       */
      bytes_rx?: number;

      /**
       * The current total number of bytes transmitted
       */
      bytes_tx?: number;

      /**
       * The current total number of valid frames received
       */
      frames_rx?: number;

      /**
       * The current rate of valid frames received
       */
      frames_rx_rate?: number;

      /**
       * The current total number of frames transmitted
       */
      frames_tx?: number;

      /**
       * The current rate of frames transmitted
       */
      frames_tx_rate?: number;

      /**
       * The container for latency metrics. The min/max/avg values are dependent on the
       * type of latency measurement mode that is configured. The container will be empty
       * if the latency has not been configured for the flow.
       */
      latency?: MonitorAPI.MetricLatency;

      /**
       * The percentage of lost frames
       */
      loss?: number;

      /**
       * The Layer 1 receive rate in bits per second.
       */
      rx_l1_rate_bps?: number;

      /**
       * The receive rate in bits per second.
       */
      rx_rate_bps?: number;

      /**
       * The receive rate in bytes per second.
       */
      rx_rate_bytes?: number;

      /**
       * The receive rate in Kilobits per second.
       */
      rx_rate_kbps?: number;

      /**
       * The receive rate in Megabits per second.
       */
      rx_rate_mbps?: number;

      /**
       * List of tag and value pairs
       */
      tags?: Array<TaggedMetric.Tag>;

      /**
       * The container for timestamp metrics. The container will be empty if the
       * timestamp has not been configured for the flow.
       */
      timestamps?: MonitorAPI.MetricTimestamp;

      /**
       * The Layer 1 transmission rate in bits per second.
       */
      tx_l1_rate_bps?: number;

      /**
       * The transmission rate in bits per second.
       */
      tx_rate_bps?: number;

      /**
       * The transmission rate in bytes per second.
       */
      tx_rate_bytes?: number;

      /**
       * The transmission rate in Kilobits per second.
       */
      tx_rate_kbps?: number;

      /**
       * The transmission rate in Megabits per second.
       */
      tx_rate_mbps?: number;
    }

    export namespace TaggedMetric {
      export interface Tag {
        /**
         * Name of packet field metric tag
         */
        name?: string;

        /**
         * A container for metric tag value
         */
        value?: Tag.Value;
      }

      export namespace Tag {
        /**
         * A container for metric tag value
         */
        export interface Value {
          /**
           * Available formats for metric tag value
           */
          choice?: 'hex' | 'str';

          /**
           * Value represented in hexadecimal format
           */
          hex?: string;

          /**
           * Value represented in string format
           */
          str?: string;
        }
      }
    }
  }

  /**
   * ISIS per router statistics information.
   */
  export interface IsisMetric {
    /**
     * Number of Level 1 Hello messages received.
     */
    l1_broadcast_hellos_received?: number;

    /**
     * Number of Level 1 Hello messages sent.
     */
    l1_broadcast_hellos_sent?: number;

    /**
     * Number of Level 1 (L1) Complete Sequence Number Packet (CSNPs) received.
     */
    l1_csnp_received?: number;

    /**
     * Number of Level 1 (L1) Complete Sequence Number Packet (CSNPs) sent.
     */
    l1_csnp_sent?: number;

    /**
     * Number of Link State Updates (LSPs) in the Level 1 LSP Databases.
     */
    l1_database_size?: number;

    /**
     * Number of Level 1 (L1) Link State Protocol Data Units (LSPs) received.
     */
    l1_lsp_received?: number;

    /**
     * Number of Level 1 (L1) Link State Protocol Data Units (LSPs) sent.
     */
    l1_lsp_sent?: number;

    /**
     * Number of Level 1 Point-to-Point(P2P) Hello messages received.
     */
    l1_point_to_point_hellos_received?: number;

    /**
     * Number of Level 1 Point-to-Point(P2P) Hello messages sent.
     */
    l1_point_to_point_hellos_sent?: number;

    /**
     * Number of Level 1 (L1) Complete Sequence Number Packet (PSNPs) received.
     */
    l1_psnp_received?: number;

    /**
     * Number of Level 1 (L1) Partial Sequence Number Packet (PSNPs) sent.
     */
    l1_psnp_sent?: number;

    /**
     * The number of Level 1 Sessions Flap.
     */
    l1_session_flap?: number;

    /**
     * The number of Level 1 (L1) sessions that are fully up.
     */
    l1_sessions_up?: number;

    /**
     * Number of Level 2 Hello messages received.
     */
    l2_broadcast_hellos_received?: number;

    /**
     * Number of Level 2 Hello messages sent.
     */
    l2_broadcast_hellos_sent?: number;

    /**
     * Number of Level 2 (L2) Complete Sequence Number Packet (CSNPs) received.
     */
    l2_csnp_received?: number;

    /**
     * Number of Level 2 (L2) Complete Sequence Number Packet (CSNPs) sent.
     */
    l2_csnp_sent?: number;

    /**
     * Number of Link State Updates (LSPs) in the Level 2 LSP Databases.
     */
    l2_database_size?: number;

    /**
     * Number of Level 2 (L2) Link State Protocol Data Units (LSPs) received.
     */
    l2_lsp_received?: number;

    /**
     * Number of Level 2 (L2) Link State Protocol Data Units (LSPs) sent.
     */
    l2_lsp_sent?: number;

    /**
     * Number of Level 2 Point-to-Point(P2P) Hello messages received.
     */
    l2_point_to_point_hellos_received?: number;

    /**
     * Number of Level 2 Point-to-Point(P2P) Hello messages sent.
     */
    l2_point_to_point_hellos_sent?: number;

    /**
     * Number of Level 2 (L2) Complete Sequence Number Packet (PSNPs) received.
     */
    l2_psnp_received?: number;

    /**
     * Number of Level 2 (L2) Partial Sequence Number Packet (PSNPs) sent.
     */
    l2_psnp_sent?: number;

    /**
     * The number of Level 2 Sessions Flap.
     */
    l2_session_flap?: number;

    /**
     * The number of Level 2 (L2) sessions that are fully up.
     */
    l2_sessions_up?: number;

    /**
     * The name of a configured ISIS router.
     */
    name?: string;
  }

  /**
   * LACP metrics (statistics) per LAG member.
   */
  export interface LacpMetric {
    /**
     * Indicates participant is active or passive.
     */
    activity?: 'active' | 'passive';

    /**
     * A true value indicates that the participant will allow the link to be used as
     * part of the aggregate. A false value indicates the link should be used as an
     * individual link.
     */
    aggregatable?: boolean;

    /**
     * If true, the participant is collecting incoming frames on the link, otherwise
     * false.
     */
    collecting?: boolean;

    /**
     * When true, the participant is distributing outgoing frames; when false,
     * distribution is disabled.
     */
    distributing?: boolean;

    /**
     * Number of LACPDUs received.
     */
    lacp_packets_rx?: number;

    /**
     * Number of LACPDUs transmitted.
     */
    lacp_packets_tx?: number;

    /**
     * Number of LACPDUs receive packet errors.
     */
    lacp_rx_errors?: number;

    /**
     * The name of a LAG member (port) configured with LACP.
     */
    lag_member_port_name?: string;

    /**
     * The name of a LAG (ports group) configured with LACP.
     */
    lag_name?: string;

    /**
     * Current operational value of the key for the aggregate interface.
     */
    oper_key?: number;

    /**
     * MAC address representing the protocol partner's interface system ID.
     */
    partner_id?: string;

    /**
     * Operational value of the protocol partner's key.
     */
    partner_key?: number;

    /**
     * Port number of the partner (remote) port for this member port.
     */
    partner_port_num?: number;

    /**
     * Port number of the local (actor) aggregation member.
     */
    port_num?: number;

    /**
     * Indicates whether the participant is in-sync or out-of-sync.
     */
    synchronization?: 'in_sync' | 'out_sync';

    /**
     * MAC address that defines the local system ID for the aggregate interface.
     */
    system_id?: string;

    /**
     * The timeout type (short or long) used by the participant.
     */
    timeout?: 'short' | 'long';
  }

  export interface LagMetric {
    /**
     * The current total number of valid bytes received.
     */
    bytes_rx?: number;

    /**
     * The current rate of bytes received.
     */
    bytes_rx_rate?: number;

    /**
     * The current total number of bytes transmitted.
     */
    bytes_tx?: number;

    /**
     * The current rate of bytes transmitted.
     */
    bytes_tx_rate?: number;

    /**
     * The current total number of valid frames received.
     */
    frames_rx?: number;

    /**
     * The current rate of valid frames received.
     */
    frames_rx_rate?: number;

    /**
     * The current total number of frames transmitted.
     */
    frames_tx?: number;

    /**
     * The current rate of frames transmitted.
     */
    frames_tx_rate?: number;

    /**
     * The number of LAG member ports up.
     */
    member_ports_up?: number;

    /**
     * The name of a configured LAG
     *
     * x-constraint:
     *
     * - /components/schemas/Lag/properties/name
     */
    name?: string;

    /**
     * The current operational state of the LAG. The state can be up or down. State
     * 'up' indicates member_ports_up >= min_links.
     */
    oper_status?: 'up' | 'down';
  }

  /**
   * LLDP per instance statistics information.
   */
  export interface LldpMetric {
    /**
     * Number of LLDP frames received that are discarded. This stat should be
     * incremented when one or more of the three mandatory TLVs at the beginning of the
     * LLDPDU is missing, out of order or contains an out of range information string
     * length. This stat should follow the validation rules in section 10.3.2 of IEEE
     * Std 802.1 AB-2005.
     */
    frames_discard?: number;

    /**
     * Number of LLDP frames received with packet errors. This stat should be
     * incremented based on statsFramesInErrorsTotal increment rule in section 10.3.2
     * of IEEE Std 802.1 AB-2005.
     */
    frames_error_rx?: number;

    /**
     * Number of LLDP frames received.
     */
    frames_rx?: number;

    /**
     * Number of LLDP frames transmitted.
     */
    frames_tx?: number;

    /**
     * The name of the configured LLDP instance.
     */
    name?: string;

    /**
     * Number of LLDP tlvs received that are discarded. If any TLV contains an error
     * condition specific for that particular TLV or if any TLV extends past the
     * physical end of the frame then these TLVs will be discarded.
     */
    tlvs_discard?: number;

    /**
     * Number of LLDP unknown tlvs received. If the OUI of the organizationlly specific
     * TLV and/or organizationally defined subtype are not recognized,or if TLV type
     * value is in the range of reserved TLV types then these TLVs will be considered
     * as unknown TLVs.
     */
    tlvs_unknown?: number;
  }

  /**
   * MACsec per secure entity(secY) statistics information.
   */
  export interface MacsecMetric {
    /**
     * InOctetsDecrypted, the number of received bytes decrypted.
     */
    in_octets_decrypted?: number;

    /**
     * InOctetsValidated, the number of received bytes validated.
     */
    in_octets_validated?: number;

    /**
     * The total number of received bad packets that failed atleast one validation
     * check.
     */
    in_pkts_bad?: number;

    /**
     * InPktsBadTag, the number of packets discarded due to bad tag/ICV.
     */
    in_pkts_bad_tag?: number;

    /**
     * InPktsInvalid, the number of packets received with invalid ICV.
     */
    in_pkts_invalid?: number;

    /**
     * InPktsLate, the number of packets discarded out of window.
     */
    in_pkts_late?: number;

    /**
     * InPktsNoSCI,the number of packets discarded due to unknown SCI.
     */
    in_pkts_no_sci?: number;

    /**
     * InPktsNotUsingSA, the number of packets discarded due to unused SA.
     */
    in_pkts_not_using_sa?: number;

    /**
     * InPktsNotValid, the number of packets discarded due to invalid ICV.
     */
    in_pkts_not_valid?: number;

    /**
     * InPktsOk, the number of valid packets received.
     */
    in_pkts_ok?: number;

    /**
     * InPktsUnknownSCI, the number of packets received with unknown SCI.
     */
    in_pkts_unknown_sci?: number;

    /**
     * InPktsUntagged, the number of non-MACsec packets received.
     */
    in_pkts_untagged?: number;

    /**
     * InPktsUnusedSA, the number of packets received with unused SA.
     */
    in_pkts_unused_sa?: number;

    /**
     * The name of a configured MACsec secure entity(secY).
     */
    name?: string;

    /**
     * OutOctetsEncrypted, the number of bytes transmitted as encrypted.
     */
    out_octets_encrypted?: number;

    /**
     * OutOctetsProtected, the number of bytes transmitted as protected.
     */
    out_octets_protected?: number;

    /**
     * OutPktsEncrypted, the number of encrypted packets transmitted.
     */
    out_pkts_encrypted?: number;

    /**
     * OutPktsProtected, the number of protected packets transmitted.
     */
    out_pkts_protected?: number;

    /**
     * Number of times the session went from Up to Down state.
     */
    session_flap_count?: number;

    /**
     * Session state as up or down. Up refers to an Established state and Down refers
     * to any other state.
     */
    session_state?: 'up' | 'down';
  }

  /**
   * MKA per peer statistics information.
   */
  export interface MkaMetric {
    /**
     * Number of MKA Protocol Data Unit(MKPDU) frames with ICV mismatch Rx.
     */
    icv_mismatch?: number;

    /**
     * Number of MKA latest key Rx peers.
     */
    latest_key_rx_peer_count?: number;

    /**
     * Number of MKA latest key Tx peers.
     */
    latest_key_tx_peer_count?: number;

    /**
     * Number of MKA live peers.
     */
    live_peer_count?: number;

    /**
     * Number of malformed MKA Protocol Data Unit(MKPDU) frames Rx.
     */
    malformed_mkpdu?: number;

    /**
     * Number of MKA protocol data unit(MKPDU) frames Rx.
     */
    mkpdu_rx?: number;

    /**
     * Number of MKA protocol data unit(MKPDU) frames Tx.
     */
    mkpdu_tx?: number;

    /**
     * The name of a configured MKA peer.
     */
    name?: string;

    /**
     * Number of MKA potential peers.
     */
    potential_peer_count?: number;

    /**
     * Number of times the session went from Up to Down state.
     */
    session_flap_count?: number;

    /**
     * Session state as up or down. Up refers to an Established state and Down refers
     * to any other state.
     */
    session_state?: 'up' | 'down';
  }

  /**
   * OSPFv2 per router statistics information.
   */
  export interface Ospfv2Metric {
    /**
     * The number of OSPFv2 Database Description (DBD) messages received.
     */
    dbd_received?: number;

    /**
     * The number of OSPFv2 Database Description (DBD) messages transmitted.
     */
    dbd_sent?: number;

    /**
     * The number of OSPFv2 sessions in down state.
     */
    down_state_count?: number;

    /**
     * The number of OSPFv2 External (Type 5) LSAs received.
     */
    external_lsa_received?: number;

    /**
     * The number of OSPFv2 External (Type 5) LSAs transmitted.
     */
    external_lsa_sent?: number;

    /**
     * The number of OSPFv2 sessions in up state.
     */
    full_state_count?: number;

    /**
     * The number of OSPFv2 Hello messages received.
     */
    hellos_received?: number;

    /**
     * The number of OSPFv2 Hello messages transmitted.
     */
    hellos_sent?: number;

    /**
     * The number of OSPFv2 LinkState (LS) Acknowledgement messages received.
     */
    ls_ack_received?: number;

    /**
     * The number of OSPFv2 LinkState (LS) Acknowledgement messages transmitted.
     */
    ls_ack_sent?: number;

    /**
     * The number of OSPFv2 LinkState (LS) Request messages received.
     */
    ls_request_received?: number;

    /**
     * The number of OSPFv2 LinkState (LS) Request messages transmitted.
     */
    ls_request_sent?: number;

    /**
     * The number of OSPFv2 LinkState (LS) Update messages received.
     */
    ls_update_received?: number;

    /**
     * The number of OSPFv2 LinkState (LS) Update messages transmitted.
     */
    ls_update_sent?: number;

    /**
     * The total number of OSPFv2 LinkState Advertisement (LSA) acknowledge messages
     * received .
     */
    lsa_ack_received?: number;

    /**
     * The total number of OSPFv2 LinkState Advertisement (LSA) messages acknowledged.
     */
    lsa_ack_sent?: number;

    /**
     * The total number of OSPFv2 LinkState Advertisement (LSA) messages received.
     */
    lsa_received?: number;

    /**
     * The total number of OSPFv2 LinkState Advertisement (LSA) messages transmitted.
     */
    lsa_sent?: number;

    /**
     * The name of a configured OSPFv2 router.
     */
    name?: string;

    /**
     * The number of OSPFv2 Network (Type 2) LSAs transmitted.
     */
    network_lsa_received?: number;

    /**
     * The number of OSPFv2 Network (Type 2) LSAs transmitted.
     */
    network_lsa_sent?: number;

    /**
     * The number of OSPFv2 NSSA (Type 7) LSAs received.
     */
    nssa_lsa_received?: number;

    /**
     * The number of OSPFv2 NSSA (Type 7) LSAs transmitted.
     */
    nssa_lsa_sent?: number;

    /**
     * The number of OSPFv2 Opaque Area (Type 10) LSAs received.
     */
    opaque_area_received?: number;

    /**
     * The number of OSPF Opaque Area (Type 10) LSAs transmitted.
     */
    opaque_area_sent?: number;

    /**
     * The number of OSPFv2 Opaque Domain (Type 11) LSAs received.
     */
    opaque_domain_received?: number;

    /**
     * The number of OSPFv2 Opaque Domain (Type 11) LSAs transmitted.
     */
    opaque_domain_sent?: number;

    /**
     * The number of OSPFv2 Opaque Local (Type 9) LSAs received.
     */
    opaque_local_received?: number;

    /**
     * The number of OSPFv2 Opaque Local (Type 9) LSAs transmitted.
     */
    opaque_local_sent?: number;

    /**
     * The number of OSPFv2 Router (Type 1) LSAs received.
     */
    router_lsa_received?: number;

    /**
     * The number of OSPFv2 Router (Type 1) LSAs transmitted.
     */
    router_lsa_sent?: number;

    /**
     * The number of change of OSPFv2 sessions from up to down state.
     */
    sessions_flap?: number;

    /**
     * The number of OSPFv2 Summary IP (Type 3) LSA received.
     */
    summary_lsa_received?: number;

    /**
     * The number of OSPFv2 Summary IP (Type 3) LSAs transmitted.
     */
    summary_lsa_sent?: number;
  }

  /**
   * OSPFv3 per router statistics information.
   */
  export interface Ospfv3Metric {
    /**
     * The number of OSPFv3 Database Description (DBD) messages received.
     */
    dbd_received?: number;

    /**
     * The number of OSPFv3 Database Description (DBD) messages transmitted.
     */
    dbd_sent?: number;

    /**
     * The number of OSPFv3 sessions in down state.
     */
    down_state_count?: number;

    /**
     * The number of OSPFv3 External (Type 5) LSAs received.
     */
    external_lsa_received?: number;

    /**
     * The number of OSPFv3 External (Type 5) LSAs transmitted.
     */
    external_lsa_sent?: number;

    /**
     * The number of OSPFv3 sessions in up state.
     */
    full_state_count?: number;

    /**
     * The number of OSPFv3 Hello messages received.
     */
    hellos_received?: number;

    /**
     * The number of OSPFv3 Hello messages transmitted.
     */
    hellos_sent?: number;

    /**
     * The number of OSPFv3 Inter-Area-Prefix (Type 3) LSAs received.
     */
    inter_area_prefix_lsa_received?: number;

    /**
     * The number of OSPFv3 Inter-Area-Prefix (Type 3) LSAs transmitted.
     */
    inter_area_prefix_lsa_sent?: number;

    /**
     * The number of OSPFv3 Inter-Area-Router (Type 4) LSAs received.
     */
    inter_area_router_lsa_received?: number;

    /**
     * The number of OSPFv3 Inter-Area-Router (Type 4) LSAs transmitted.
     */
    inter_area_router_lsa_sent?: number;

    /**
     * The number of OSPFv3 Intra-Area-Prefix (Type 9) LSAs received.
     */
    intra_area_prefix_lsa_received?: number;

    /**
     * The number of OSPFv3 Intra-Area-Prefix (Type 9) LSAs transmitted.
     */
    intra_area_prefix_lsa_sent?: number;

    /**
     * The number of OSPFv3 Link (Type 8) LSAs received.
     */
    link_lsa_received?: number;

    /**
     * The number of OSPFv3 Link (Type 8) LSAs transmitted.
     */
    link_lsa_sent?: number;

    /**
     * The number of OSPFv3 LinkState (LS) Acknowledgement messages received.
     */
    ls_ack_received?: number;

    /**
     * The number of OSPFv3 LinkState (LS) Acknowledgement messages transmitted.
     */
    ls_ack_sent?: number;

    /**
     * The number of OSPFv3 LinkState (LS) Request messages received.
     */
    ls_request_received?: number;

    /**
     * The number of OSPFv3 LinkState (LS) Request messages transmitted.
     */
    ls_request_sent?: number;

    /**
     * The number of OSPFv3 LinkState (LS) Update messages received.
     */
    ls_update_received?: number;

    /**
     * The number of OSPFv3 LinkState (LS) Update messages transmitted.
     */
    ls_update_sent?: number;

    /**
     * The total number of OSPFv3 LinkState Advertisement (LSA) messages received.
     */
    lsa_received?: number;

    /**
     * The total number of OSPFv3 LinkState Advertisement (LSA) messages transmitted.
     */
    lsa_sent?: number;

    /**
     * The name of a configured OSPFv3 router.
     */
    name?: string;

    /**
     * The number of OSPFv3 Network (Type 2) LSAs received.
     */
    network_lsa_received?: number;

    /**
     * The number of OSPFv3 Network (Type 2) LSAs transmitted.
     */
    network_lsa_sent?: number;

    /**
     * The number of OSPFv3 NSSA (Type 7) LSAs received.
     */
    nssa_lsa_received?: number;

    /**
     * The number of OSPFv3 NSSA (Type 7) LSAs transmitted.
     */
    nssa_lsa_sent?: number;

    /**
     * The number of OSPFv3 Router (Type 1) LSAs received.
     */
    router_lsa_received?: number;

    /**
     * The number of OSPFv3 Router (Type 1) LSAs transmitted.
     */
    router_lsa_sent?: number;

    /**
     * The number of change of OSPFv3 sessions from up to down state.
     */
    sessions_flap?: number;
  }

  export interface PortMetric {
    /**
     * The current total number of valid bytes received
     */
    bytes_rx?: number;

    /**
     * The current rate of bytes received
     */
    bytes_rx_rate?: number;

    /**
     * The current total number of bytes transmitted
     */
    bytes_tx?: number;

    /**
     * The current rate of bytes transmitted
     */
    bytes_tx_rate?: number;

    /**
     * The state of the test port capture infrastructure. The string can be started,
     * stopped or a custom error message.
     */
    capture?: 'started' | 'stopped';

    /**
     * The current total number of valid frames received
     */
    frames_rx?: number;

    /**
     * The current rate of valid frames received
     */
    frames_rx_rate?: number;

    /**
     * The current total number of frames transmitted
     */
    frames_tx?: number;

    /**
     * The current rate of frames transmitted
     */
    frames_tx_rate?: number;

    /**
     * The timestamp indicates the absolute time of the last link state change of the
     * test port (e.g., up-to-down transition).
     *
     * The value is the timestamp in nanoseconds relative to the Unix Epoch (Jan 1,
     * 1970 00:00:00 UTC).
     */
    last_change?: number;

    /**
     * The state of the test port link The string can be up, down or a custom error
     * message.
     */
    link?: 'up' | 'down';

    /**
     * The state of the connection to the test port location. The format should be the
     * configured port location along with any custom connection state message.
     */
    location?: string;

    /**
     * The name of a configured port
     *
     * x-constraint:
     *
     * - /components/schemas/Port/properties/name
     */
    name?: string;

    /**
     * The transmit state of the flow.
     */
    transmit?: 'started' | 'stopped';
  }

  /**
   * RoCEv2 Flow statistics information.
   */
  export interface Rocev2FlowPerQpMetric {
    /**
     * Current number of ACK received.
     */
    ack_rx?: number;

    /**
     * Current number of ACK transmitted.
     */
    ack_tx?: number;

    /**
     * Current average latency measured in ns.
     */
    avg_latency?: number;

    /**
     * Current number of CNP received.
     */
    cnp_rx?: number;

    /**
     * Current number of CNP transmitted.
     */
    cnp_tx?: number;

    /**
     * Current number of data frames re-transmitted.
     */
    data_frames_retransmitted?: number;

    /**
     * Current number of data frames received.
     */
    data_frames_rx?: number;

    /**
     * Current number of data frames transmitted.
     */
    data_frames_tx?: number;

    /**
     * Current rate at which data is received in Gbps.
     */
    data_rx_rate?: number;

    /**
     * Current rate at which data is transmitted in Gbps.
     */
    data_tx_rate?: number;

    /**
     * Current destination address.
     */
    dest_ipv4?: string;

    /**
     * Current destination QP number.
     */
    dest_qp?: number;

    /**
     * Current number of ECN-CE Recevied.
     */
    ecn_ce_rx?: number;

    /**
     * First Timestamp.
     */
    first_timestamp?: string;

    /**
     * Current flow comletion time in ms.
     */
    flow_completion_time?: number;

    /**
     * Flow Name.
     */
    flow_name?: string;

    /**
     * Current differnece between tx and rx data frames
     */
    frame_delta?: number;

    /**
     * Current number of frame sequence errors.
     */
    frame_sequence_error?: number;

    /**
     * Last Timestamp.
     */
    last_timestamp?: string;

    /**
     * Current maximum latency measured in ns.
     */
    max_latency?: number;

    /**
     * Current number of Message Complete received.
     */
    message_complete_rx?: number;

    /**
     * Current number of Message Fail count.
     */
    message_fail?: number;

    /**
     * Current number of Message transmitted.
     */
    message_tx?: number;

    /**
     * Current minimum latency measured in ns.
     */
    min_latency?: number;

    /**
     * Current number of NAK received.
     */
    nak_rx?: number;

    /**
     * Current number of NAK transmitted.
     */
    nak_tx?: number;

    /**
     * The name of the receive port
     */
    port_rx?: string;

    /**
     * The name of the transmit port
     */
    port_tx?: string;

    /**
     * Current number of bytes received.
     */
    rx_bytes?: number;

    /**
     * Current source address.
     */
    src_ipv4?: string;

    /**
     * Current source QP number.
     */
    src_qp?: number;

    /**
     * Current number of bytes transmitted.
     */
    tx_bytes?: number;
  }

  /**
   * RoCEv2 per peer statistics information.
   */
  export interface Rocev2Ipv4PerPeerMetric {
    /**
     * Number of REP Message Received.
     */
    connect_reply_rx?: number;

    /**
     * Number of REP Message Transmitted.
     */
    connect_reply_tx?: number;

    /**
     * Number of REQ Message Received.
     */
    connect_request_rx?: number;

    /**
     * Number of REQ Message Transmitted.
     */
    connect_request_tx?: number;

    /**
     * Number of DREP Message Received.
     */
    disconnect_reply_rx?: number;

    /**
     * Number of DREP Message Transmitted.
     */
    disconnect_reply_tx?: number;

    /**
     * Number of DREQ Message Received.
     */
    disconnect_request_rx?: number;

    /**
     * Number of DREQ Message Transmitted.
     */
    disconnect_request_tx?: number;

    /**
     * The name of a configured RoCEv2 peer.
     */
    name?: string;

    /**
     * Number of QPs configured on this port.
     */
    qp_configured?: number;

    /**
     * Number of QPs that have not come UP.
     */
    qp_down?: number;

    /**
     * Number of QPs that are in UP state.
     */
    qp_up?: number;

    /**
     * Number of RTU Message Received.
     */
    ready_rx?: number;

    /**
     * Number of RTU Message Transmitted.
     */
    ready_tx?: number;

    /**
     * Number of REJ Message Transmitted.
     */
    reject_tx?: number;

    /**
     * Number of Unknown Message Received.
     */
    unknown_msg_rx?: number;
  }

  /**
   * RoCEv2 per peer statistics information.
   */
  export interface Rocev2Ipv6PerPeerMetric {
    /**
     * Number of REP Message Received.
     */
    connect_reply_rx?: number;

    /**
     * Number of REP Message Transmitted.
     */
    connect_reply_tx?: number;

    /**
     * Number of REQ Message Received.
     */
    connect_request_rx?: number;

    /**
     * Number of REQ Message Transmitted.
     */
    connect_request_tx?: number;

    /**
     * Number of DREP Message Received.
     */
    disconnect_reply_rx?: number;

    /**
     * Number of DREP Message Transmitted.
     */
    disconnect_reply_tx?: number;

    /**
     * Number of DREQ Message Received.
     */
    disconnect_request_rx?: number;

    /**
     * Number of DREQ Message Transmitted.
     */
    disconnect_request_tx?: number;

    /**
     * The name of a configured RoCEv2 peer.
     */
    name?: string;

    /**
     * Number of QPs configured on this port.
     */
    qp_configured?: number;

    /**
     * Number of QPs that have not come UP.
     */
    qp_down?: number;

    /**
     * Number of QPs that are in UP state.
     */
    qp_up?: number;

    /**
     * Number of RTU Message Received.
     */
    ready_rx?: number;

    /**
     * Number of RTU Message Transmitted.
     */
    ready_tx?: number;

    /**
     * Number of REJ Message Transmitted.
     */
    reject_tx?: number;

    /**
     * Number of Unknown Message Received.
     */
    unknown_msg_rx?: number;
  }

  /**
   * RSVP-TE per router statistics information.
   */
  export interface RsvpMetric {
    /**
     * The number of Ack messages received by this RSVP router.
     */
    acks_rx?: number;

    /**
     * The number of Ack messages sent by this RSVP router.
     */
    acks_tx?: number;

    /**
     * The number of Bundle messages received by this RSVP router.
     */
    bundle_rx?: number;

    /**
     * The number of Bundle messages sent by this RSVP router.
     */
    bundle_tx?: number;

    /**
     * The number of egress point-to-point LSPs for which Path requests were
     * successfully processed and is currently up.
     */
    egress_p2p_lsps_up?: number;

    /**
     * The number of Hello messages received by this RSVP router.
     */
    hellos_rx?: number;

    /**
     * The number of Hello messages sent by this RSVP router.
     */
    hellos_tx?: number;

    /**
     * The number of ingress point-to-point LSPs configured or transiting through the
     * RSVP router which have been initated from the test port.
     */
    ingress_p2p_lsps_configured?: number;

    /**
     * The number of ingress point-to-point LSPs for which Resv has been received and
     * is currently up.
     */
    ingress_p2p_lsps_up?: number;

    /**
     * The number of times an LSP went from up to down state either because it timed
     * out while waiting for Refreshes or a PathTear or ResvTear message was received
     * which caused the LSP to flap.
     */
    lsp_flap_count?: number;

    /**
     * The number of Nack messages received by this RSVP router.
     */
    nacks_rx?: number;

    /**
     * The number of Nack messages sent by this RSVP router.
     */
    nacks_tx?: number;

    /**
     * The name of a configured RSVP router.
     */
    name?: string;

    /**
     * The number of Path Error messages received by this RSVP router.
     */
    path_errors_rx?: number;

    /**
     * The number of Path Error messages sent by this RSVP router.
     */
    path_errors_tx?: number;

    /**
     * The number of Path messages with Path Re-evaluation Request enabled sent by this
     * RSVP router.
     */
    path_reevaluation_request_tx?: number;

    /**
     * The number of successfully completed Make-Before-Break operations on LSPs on
     * this RSVP router.
     */
    path_reoptimizations?: number;

    /**
     * The number of Path Tear messages received by this RSVP router.
     */
    path_tears_rx?: number;

    /**
     * The number of Path Tear messages sent by this RSVP router.
     */
    path_tears_tx?: number;

    /**
     * The number of Path messages received by this RSVP router.
     */
    paths_rx?: number;

    /**
     * The number of Path messages sent by this RSVP router.
     */
    paths_tx?: number;

    /**
     * The number of ResvConf messages received by this RSVP router.
     */
    resv_conf_rx?: number;

    /**
     * The number of ResvConf messages sent by this RSVP router.
     */
    resv_conf_tx?: number;

    /**
     * The number of Resv Error messages received by this RSVP router.
     */
    resv_errors_rx?: number;

    /**
     * The number of Resv Error messages sent by this RSVP router.
     */
    resv_errors_tx?: number;

    /**
     * The number of Resv Tear messages received by this RSVP router.
     */
    resv_tears_rx?: number;

    /**
     * The number of Resv Tear messages sent by this RSVP router.
     */
    resv_tears_tx?: number;

    /**
     * The number of Resv messages received by this RSVP router.
     */
    resvs_rx?: number;

    /**
     * The number of Resv messages sent by this RSVP router.
     */
    resvs_tx?: number;

    /**
     * The number of SRefresh messages received by this RSVP router.
     */
    srefresh_rx?: number;

    /**
     * The number of SRefresh messages sent by this RSVP router.
     */
    srefresh_tx?: number;
  }
}

/**
 * Response containing chosen traffic generator states
 */
export interface MonitorCreateStatesResponse {
  bgp_prefixes?: Array<MonitorCreateStatesResponse.BgpPrefix>;

  choice?:
    | 'ipv4_neighbors'
    | 'ipv6_neighbors'
    | 'bgp_prefixes'
    | 'isis_lsps'
    | 'lldp_neighbors'
    | 'rsvp_lsps'
    | 'dhcpv4_interfaces'
    | 'dhcpv4_leases'
    | 'dhcpv6_interfaces'
    | 'dhcpv6_leases'
    | 'ospfv2_lsas'
    | 'ospfv3_lsas';

  dhcpv4_interfaces?: Array<MonitorCreateStatesResponse.Dhcpv4Interface>;

  dhcpv4_leases?: Array<MonitorCreateStatesResponse.Dhcpv4Lease>;

  dhcpv6_interfaces?: Array<MonitorCreateStatesResponse.Dhcpv6Interface>;

  dhcpv6_leases?: Array<MonitorCreateStatesResponse.Dhcpv6Lease>;

  ipv4_neighbors?: Array<MonitorCreateStatesResponse.Ipv4Neighbor>;

  ipv6_neighbors?: Array<MonitorCreateStatesResponse.Ipv6Neighbor>;

  isis_lsps?: Array<MonitorCreateStatesResponse.IsisLsp>;

  lldp_neighbors?: Array<MonitorCreateStatesResponse.LldpNeighbor>;

  ospfv2_lsas?: Array<MonitorCreateStatesResponse.Ospfv2Lsa>;

  ospfv3_lsas?: Array<MonitorCreateStatesResponse.Ospfv3Lsa>;

  rsvp_lsps?: Array<MonitorCreateStatesResponse.RsvpLsp>;
}

export namespace MonitorCreateStatesResponse {
  /**
   * BGP peer prefixes.
   */
  export interface BgpPrefix {
    /**
     * The name of a BGP peer.
     */
    bgp_peer_name?: string;

    ipv4_unicast_prefixes?: Array<BgpPrefix.Ipv4UnicastPrefix>;

    ipv6_unicast_prefixes?: Array<BgpPrefix.Ipv6UnicastPrefix>;
  }

  export namespace BgpPrefix {
    /**
     * IPv4 unicast prefix.
     */
    export interface Ipv4UnicastPrefix {
      /**
       * This attribute identifies the autonomous systems through which routing
       * information carried in this UPDATE message has passed.
       */
      as_path?: MonitorAPI.ResultBgpAsPath;

      /**
       * Optional community attributes.
       */
      communities?: Array<MonitorAPI.ResultBgpCommunity>;

      /**
       * Optional received Extended Community attributes. Each received Extended
       * Community attribute is available for retrieval in two forms. Support of the
       * 'raw' format in which all 8 bytes (16 hex characters) is always present and
       * available for use. In addition, if supported by the implementation, the Extended
       * Community attribute may also be retrieved in the 'structured' format which is an
       * optional field.
       */
      extended_communities?: Array<MonitorAPI.ResultExtendedCommunity>;

      /**
       * An IPv4 unicast address
       */
      ipv4_address?: string;

      /**
       * The IPv4 address of the egress interface.
       */
      ipv4_next_hop?: string;

      /**
       * The IPv6 address of the egress interface.
       */
      ipv6_next_hop?: string;

      /**
       * The local preference is a well-known attribute and the value is used for route
       * selection. The route with the highest local preference value is preferred.
       */
      local_preference?: number;

      /**
       * The multi exit discriminator (MED) is an optional non-transitive attribute and
       * the value is used for route selection. The route with the lowest MED value is
       * preferred.
       */
      multi_exit_discriminator?: number;

      /**
       * The origin of the prefix.
       */
      origin?: 'igp' | 'egp' | 'incomplete';

      /**
       * The path id.
       */
      path_id?: number;

      /**
       * The length of the prefix.
       */
      prefix_length?: number;
    }

    /**
     * IPv6 unicast prefix.
     */
    export interface Ipv6UnicastPrefix {
      /**
       * This attribute identifies the autonomous systems through which routing
       * information carried in this UPDATE message has passed.
       */
      as_path?: MonitorAPI.ResultBgpAsPath;

      /**
       * Optional community attributes.
       */
      communities?: Array<MonitorAPI.ResultBgpCommunity>;

      /**
       * Optional received Extended Community attributes. Each received Extended
       * Community attribute is available for retrieval in two forms. Support of the
       * 'raw' format in which all 8 bytes (16 hex characters) is always present and
       * available for use. In addition, if supported by the implementation, the Extended
       * Community attribute may also be retrieved in the 'structured' format which is an
       * optional field.
       */
      extended_communities?: Array<MonitorAPI.ResultExtendedCommunity>;

      /**
       * The IPv4 address of the egress interface.
       */
      ipv4_next_hop?: string;

      /**
       * An IPv6 unicast address
       */
      ipv6_address?: string;

      /**
       * The IPv6 address of the egress interface.
       */
      ipv6_next_hop?: string;

      /**
       * The local preference is a well-known attribute and the value is used for route
       * selection. The route with the highest local preference value is preferred.
       */
      local_preference?: number;

      /**
       * The multi exit discriminator (MED) is an optional non-transitive attribute and
       * the value is used for route selection. The route with the lowest MED value is
       * preferred.
       */
      multi_exit_discriminator?: number;

      /**
       * The origin of the prefix.
       */
      origin?: 'igp' | 'egp' | 'incomplete';

      /**
       * The path id.
       */
      path_id?: number;

      /**
       * The length of the prefix.
       */
      prefix_length?: number;
    }
  }

  /**
   * The IPv4 address associated with this DHCP Client session.
   */
  export interface Dhcpv4Interface {
    /**
     * The name of a DHCPv4 Client.
     */
    dhcp_client_name?: string;

    /**
     * The Gateway Ipv4 address associated with this DHCP Client session.
     */
    gateway_address?: string;

    /**
     * The IPv4 address associated with this DHCP Client session.
     */
    ipv4_address?: string;

    /**
     * The duration of the IPv4 address lease, in seconds.
     */
    lease_time?: number;

    /**
     * The length of the prefix.
     */
    prefix_length?: number;

    /**
     * Time in seconds until the DHCPv4 client starts rebinding.
     */
    rebind_time?: number;

    /**
     * Time in seconds until the DHCPv4 client starts renewing the lease.
     */
    renew_time?: number;
  }

  /**
   * Lease information of DHCP Server.
   */
  export interface Dhcpv4Lease {
    /**
     * The name of a DHCP Server.
     */
    dhcp_server_name?: string;

    leases?: Array<Dhcpv4Lease.Lease>;
  }

  export namespace Dhcpv4Lease {
    /**
     * IPv4 address lease state.
     */
    export interface Lease {
      /**
       * The IPv4 address associated with this lease.
       */
      address?: string;

      /**
       * The Circuit ID option found in the last request message.
       */
      circuit_id?: string;

      /**
       * The ID of the DHCPv4 client holding this lease.
       */
      client_id?: string;

      /**
       * The elapsed time in seconds since the address has been renewed.
       */
      preferred_time?: number;

      /**
       * Time in seconds until the DHCPv4 client starts rebinding.
       */
      rebind_time?: number;

      /**
       * The Remote ID option found in the last request message.
       */
      remote_id?: string;

      /**
       * Time in seconds until the DHCPv4 client starts renewing the lease.
       */
      renew_time?: number;

      /**
       * The time in seconds after which the IPv4 address lease will expire.
       */
      valid_time?: number;
    }
  }

  /**
   * The IPv6 address associated with this DHCP Client session.
   */
  export interface Dhcpv6Interface {
    /**
     * The name of a DHCPv6 Client.
     */
    dhcp_client_name?: string;

    /**
     * The IPv6 IATA/IANA addresses and gateways associated with this DHCP Client
     * session.
     */
    ia_addresses?: Array<Dhcpv6Interface.IaAddress>;

    /**
     * The IPv6 IAPD addresses and prefixes associated with this DHCP Client session.
     */
    iapd_addresses?: Array<Dhcpv6Interface.IapdAddress>;
  }

  export namespace Dhcpv6Interface {
    /**
     * The IPv6 IATA/IANA address and gateway associated with this DHCP Client session.
     */
    export interface IaAddress {
      /**
       * The address associated with this DHCPv6 Client session.
       */
      address?: string;

      /**
       * The Gateway address associated with this DHCPv6 Client session.
       */
      gateway?: string;

      /**
       * The duration of the IPv6 address lease, in seconds.
       */
      lease_time?: number;
    }

    /**
     * The IPv6 IAPD address and prefix length associated with this DHCP Client
     * session.
     */
    export interface IapdAddress {
      /**
       * The IAPD address associated with this DHCPv6 Client session.
       */
      address?: string;

      /**
       * The duration of the IPv6 address lease, in seconds.
       */
      lease_time?: number;

      /**
       * The prefix length of the IAPD address associated with this DHCPv6 Client
       * session.
       */
      prefix_length?: number;
    }
  }

  /**
   * Lease information of DHCP Server.
   */
  export interface Dhcpv6Lease {
    /**
     * The name of a DHCP Server.
     */
    dhcp_server_name?: string;

    leases?: Array<Dhcpv6Lease.Lease>;
  }

  export namespace Dhcpv6Lease {
    /**
     * IPv6 unicast prefix.
     */
    export interface Lease {
      /**
       * The IPv6 address associated with this lease.
       */
      address?: string;

      /**
       * The ID of the DHCPv6 client holding this lease.
       */
      client_id?: string;

      /**
       * The Interface ID option found in the last request message.
       */
      interface_id?: string;

      /**
       * The time in seconds, elapsed time since address has been renewed.
       */
      preferred_time?: number;

      /**
       * Time in seconds until the DHCPv6 client starts rebinding.
       */
      rebind_time?: number;

      /**
       * The Remote ID option found in the last request message.
       */
      remote_id?: string;

      /**
       * Time in seconds until the DHCPv6 client starts renewing the lease.
       */
      renew_time?: number;

      /**
       * The time in seconds, IP address lease will expire.
       */
      valid_time?: number;
    }
  }

  /**
   * IPv4 Neighbor state (ARP cache entry).
   */
  export interface Ipv4Neighbor {
    /**
     * The name of the Ethernet interface associated with the Neighbor state (ARP cache
     * entry).
     */
    ethernet_name: string;

    /**
     * The IPv4 address of the neighbor.
     */
    ipv4_address: string;

    /**
     * The link-layer address (MAC) of the neighbor.
     */
    link_layer_address?: string;
  }

  /**
   * IPv6 Neighbor state (NDISC cache entry).
   */
  export interface Ipv6Neighbor {
    /**
     * The name of the Ethernet interface associated with the Neighbor state (NDISC
     * cache entry).
     */
    ethernet_name: string;

    /**
     * The IPv6 address of the neighbor.
     */
    ipv6_address: string;

    /**
     * The link-layer address (MAC) of the neighbor.
     */
    link_layer_address?: string;
  }

  /**
   * The result of ISIS LSP information that are retrieved.
   */
  export interface IsisLsp {
    /**
     * The name of the ISIS Router.
     */
    isis_router_name?: string;

    /**
     * One or more LSPs that are learned by this ISIS router.
     */
    lsps?: Array<IsisLsp.Lsp>;
  }

  export namespace IsisLsp {
    /**
     * ISIS LSP.
     */
    export interface Lsp {
      /**
       * LSP ID in the format, e.g. '640000000001-00-00'. LSP ID consists of the System
       * ID of a neighbor, the Pseudonode ID, and the LSP number. The last two bytes
       * represent Pseudonode ID and LSP number respectively. A pseudonode is a logical
       * representation of the LAN which is generated by a Designated Intermediate System
       * (DIS) on a LAN segment. If one LSP exceeds the maximum LSP size then it is sent
       * in another LSP with the LSP number incremented by one. A router's learned LSP
       * gets refreshed by 'remaining_lifetime'. Then the sequence number is incremented
       * by 1.
       */
      lsp_id: string;

      /**
       * LSP Type-Block flags.
       */
      flags?: Lsp.Flags;

      /**
       * IS Type - bits 1 and 2 indicate the type of Intermediate System. 1 - ( i.e. bit
       * 1 set) Level 1 Intermediate system. 2 - Unused value. 3 - (i.e. bits 1 and 2
       * set) Level 2 Intermediate system.
       */
      is_type?: number;

      /**
       * Total length of the LSP.
       */
      pdu_length?: number;

      /**
       * Link State PDU type.
       */
      pdu_type?: 'level_1' | 'level_2';

      /**
       * Remaining lifetime in seconds before LSP expires.
       */
      remaining_lifetime?: number;

      /**
       * Sequence number of the LSP.
       */
      sequence_number?: number;

      /**
       * It refers to Link State PDU State TLVs container.
       */
      tlvs?: Lsp.Tlvs;
    }

    export namespace Lsp {
      /**
       * LSP Type-Block flags.
       */
      export interface Flags {
        /**
         * Default Metric - when set, the originator is attached to another area using the
         * referred metric.
         */
        attached_default?: boolean;

        /**
         * Delay Metric - when set, the originator is attached to another area using the
         * referred metric.
         */
        attached_delay?: boolean;

        /**
         * When set, the originator is attached to another area using the referred metric.
         */
        attached_error?: boolean;

        /**
         * When set, the originator is attached to another area using the referred metric.
         */
        attached_expense?: boolean;

        /**
         * Overload bit - when set, the originator is overloaded, and must be avoided in
         * path calculation.
         */
        overload?: boolean;

        /**
         * When set, the originator supports partition repair.
         */
        partition_repair?: boolean;
      }

      /**
       * It refers to Link State PDU State TLVs container.
       */
      export interface Tlvs {
        /**
         * Array of IPv4 Extended Reachability TLVs (type 135) present in this LSP.
         */
        extended_ipv4_reachability_tlvs?: Array<Tlvs.ExtendedIpv4ReachabilityTlv>;

        /**
         * Array of Extended IS-Reachability TLVs (type 22) present in this LSP.
         */
        extended_is_reachability_tlvs?: Array<Tlvs.ExtendedIsReachabilityTlv>;

        /**
         * Array of Hostname TLVs ( type 137) present in this LSP.
         */
        hostname_tlvs?: Array<Tlvs.HostnameTlv>;

        /**
         * Array of IPv4 External Reachability TLVs (type 130) present in this LSP.
         */
        ipv4_external_reachability_tlvs?: Array<Tlvs.Ipv4ExternalReachabilityTlv>;

        /**
         * Array of IPv4 Internal Reachability TLVs (type 128) present in this LSP.
         */
        ipv4_internal_reachability_tlvs?: Array<Tlvs.Ipv4InternalReachabilityTlv>;

        /**
         * Array of IPv6 Reachability TLVs (type 236) present in this LSP.
         */
        ipv6_reachability_tlvs?: Array<Tlvs.Ipv6ReachabilityTlv>;

        /**
         * Array of IS-Reachability TLVs (type 2) present in this LSP.
         */
        is_reachability_tlvs?: Array<Tlvs.IsReachabilityTlv>;

        /**
         * IS-IS Router Capabilities: TLV 242. This container defines Router Capabilities.
         */
        router_capabilities?: Array<Tlvs.RouterCapability>;
      }

      export namespace Tlvs {
        /**
         * This container defines list of IPv4 extended reachability information in one
         * Extended IPv4 External Reachability TLV. It is advertised when the 'wide metric'
         * is enabled.
         */
        export interface ExtendedIpv4ReachabilityTlv {
          /**
           * IPv4 prefix contained within extended reachability TLVs.
           */
          prefixes?: Array<ExtendedIpv4ReachabilityTlv.Prefix>;
        }

        export namespace ExtendedIpv4ReachabilityTlv {
          /**
           * This group defines attributes of an IPv4 standard prefix.
           */
          export interface Prefix {
            /**
             * An IPv4 unicast prefix reachable via the originator of this LSP.
             */
            ipv4_address?: string;

            /**
             * ISIS wide metric.
             */
            metric?: number;

            /**
             * Extended Prefix Attribute flags container sub-TLV is type 4.
             */
            prefix_attributes?: MonitorAPI.IsisLspPrefixAttributes;

            /**
             * The length of the IPv4 prefix.
             */
            prefix_length?: number;

            /**
             * Prefix Segment-ID list. IGP-Prefix Segment is an IGP segment attached to an IGP
             * prefix. An IGP-Prefix Segment is global (unless explicitly advertised otherwise)
             * within the SR/IGP domain.
             */
            prefix_sids?: Array<MonitorAPI.IsisLspPrefixSid>;

            /**
             * Up (0)-used when a prefix is initially advertised within the ISIS L3 hierarchy,
             * and for all other prefixes in L1 and L2 LSPs. (default) Down (1)-used when an
             * L1/L2 router advertises L2 prefixes in L1 LSPs. The prefixes are being
             * advertised from a higher level (L2) down to a lower level (L1).
             */
            redistribution_type?: 'up' | 'down';
          }
        }

        /**
         * This is list of ISIS neighbors and attributes in Extended-IS-Reachability TLV
         * (type 22).
         */
        export interface ExtendedIsReachabilityTlv {
          /**
           * This container describes IS neighbors.
           */
          neighbors?: Array<ExtendedIsReachabilityTlv.Neighbor>;
        }

        export namespace ExtendedIsReachabilityTlv {
          /**
           * This contains IS neighbors.
           */
          export interface Neighbor {
            /**
             * List of segment routing adjacency SIDs.
             */
            adjacency_sids?: Array<Neighbor.AdjacencySid>;

            /**
             * The System ID for this emulated ISIS router, e.g. "640100010000".
             */
            system_id?: string;
          }

          export namespace Neighbor {
            /**
             * This container defines segment routing adjacency SIDs.
             */
            export interface AdjacencySid {
              /**
               * Flags associated with Adjacency Segment-ID.
               */
              flags?: AdjacencySid.Flags;

              /**
               * One or more SID/Indices are the SID/Label values associated with the IGP
               * adjacency SID.
               */
              sids?: Array<number>;

              /**
               * Adjacency-SID type: Adjacency SIDs(31) or LAN adjacency SID (32).
               */
              type?: 'adj_sid' | 'lan_adj_sid';

              /**
               * The value represents the weight of the Adj-SID for the purpose of load
               * balancing.
               */
              weight?: number;
            }

            export namespace AdjacencySid {
[...]
